PulseAggregator.json
{
  "name": "PulseAggregator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        16,
        -112
      ],
      "id": "a400838a-5208-4cfa-a97d-ee7c61f36313",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://dev.to/api/articles?tag=automation&per_page=10",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "ba7ee52a-42be-4655-9ebc-ddfc175078a6",
      "name": "DevTo Fetch"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({\n  json: {\n    source: 'DEV.to',\n    title: item.json.title,\n    link: item.json.url,\n    date: item.json.readable_publish_date,\n    summary: item.json.description?.slice(0, 150) || 'No description'\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        16
      ],
      "id": "ec852b16-172e-4e47-a106-23ba01dbb3c4",
      "name": "DevTo Normalize"
    },
    {
      "parameters": {
        "url": "https://hn.algolia.com/api/v1/search?query=n8n+automation&tags=story&hitsPerPage=10",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        -224
      ],
      "id": "5d28a145-770b-4171-8e45-074043f88856",
      "name": "HN Fetch"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.hits;\n\nreturn items.map(post => ({\n  json: {\n    source: 'Hacker News',\n    title: post.title,\n    link: post.url || `https://news.ycombinator.com/item?id=${post.objectID}`,\n    date: post.created_at,\n    summary: post.story_text?.slice(0, 150) || 'No description'\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -224
      ],
      "id": "8379e9e9-fb36-4921-a057-531600802e98",
      "name": "HN Normalize"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        608,
        -96
      ],
      "id": "c7845c69-47fe-4755-88d6-5289bce8b4b4",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\nconst unique = [];\n\nfor (const item of $input.all()) {\n  const url = item.json.link || '';\n  if (!seen.has(url) && url !== '') {\n    seen.add(url);\n    unique.push({\n      json: {\n        source: item.json.source,\n        title: item.json.title,\n        link: url,\n        date: item.json.date,\n        summary: item.json.summary\n      }\n    });\n  }\n}\n\nreturn unique;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -96
      ],
      "id": "5bd37b50-62ea-4b18-a993-3b583e6c9b2c",
      "name": "Deduplicate"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1uhExVk1xix_2YrWEP-mtOK6QrZKCDA2iamcyoDE9-X8/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uhExVk1xix_2YrWEP-mtOK6QrZKCDA2iamcyoDE9-X8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source": "={{ $json.source }}",
            "Title": "={{ $json.title }}",
            "Link": "={{ $json.link }}",
            "Date": "={{ $json.date }}",
            "Summary": "={{ $json.summary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        -96
      ],
      "id": "722b04ec-7ff9-4913-82a0-eb58525de121",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AdiilcJN5cBpcXHo",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "DevTo Fetch",
            "type": "main",
            "index": 0
          },
          {
            "node": "HN Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DevTo Fetch": {
      "main": [
        [
          {
            "node": "DevTo Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HN Fetch": {
      "main": [
        [
          {
            "node": "HN Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DevTo Normalize": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HN Normalize": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e637487a-4b42-44c3-997c-a624a86bd20b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd77a9909521216eb807ce12b852c02131fcc420de3b3efe29f3cf8addd2ec7c"
  },
  "id": "N7bxIMi6DY1TPqZM",
  "tags": []
}